﻿@{
    ViewData["Title"] = "Home Page";
}

<body style="background-color:orange">
<div class="text-center">
    <h1 class="display-4;">STUDENT HOME PAGE</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
</body>